<header class="container-fluid sticky-top bg-white shadow mb-5">
  <div class="container d-block w-50 mx-auto">
    <nav class="navbar navbar-light px-3">
      <a class="navbar-brand" href="/">Clients Data</a>
      <ul class="nav nav-pills navbar-dark">
        <li class="nav-item">
          <a class="nav-link" href="/">Clients List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add-client">Add Client</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about-us">About Us</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
