<div class="text-center my-5">
  <h1 class="display-4 my-5">About us</h1>
  <p class="display-6 fs-5 my-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex expedita culpa eius
    adipisci
    cum odit molestias sequi, id voluptates dicta exercitationem accusantium quaerat aut magni qui, vero, rerum animi
    deleniti!</p>
  <p class="display-6 fs-5 my-2">Minima omnis, voluptates velit atque ipsum voluptas ex hic dolor eligendi molestiae sit
    corrupti? Animi incidunt minima nemo perspiciatis eligendi voluptatibus cumque, laborum dolor, amet, adipisci totam
    quisquam! Porro, velit!</p>
  <p class="display-6 fs-5 my-2">Sit quis odio sunt aut qui ipsum magnam doloribus magni assumenda, perspiciatis
    asperiores
    sed reiciendis accusamus pariatur earum modi, nostrum a corrupti ipsam, non repellendus dolorem? Maiores accusantium
    repellat natus.</p>
  <p class="display-6 fs-5 my-2">Odio in dolorum animi officia, reiciendis iure tempora consequatur illum consectetur
    minus
    adipisci fugit voluptatum recusandae atque temporibus voluptates, veniam quia? Inventore vero nihil, praesentium est
    et soluta dolor sed.</p>
  <p class="display-6 fs-5 my-2">Maxime ipsa excepturi tempore asperiores vero non mollitia veritatis corrupti facere
    laborum
    consequatur dignissimos suscipit vel repudiandae illum quis consequuntur sed optio, facilis eius natus saepe
    delectus, est eum? Maxime!</p>
  <p class="display-6 fs-5 my-2">Sit quis odio sunt aut qui ipsum magnam doloribus magni assumenda, perspiciatis
    asperiores
    sed reiciendis accusamus pariatur earum modi, nostrum a corrupti ipsam, non repellendus dolorem? Maiores accusantium
    repellat natus.</p>
  <p class="display-6 fs-5 my-2">Odio in dolorum animi officia, reiciendis iure tempora consequatur illum consectetur
    minus
    adipisci fugit voluptatum recusandae atque temporibus voluptates, veniam quia? Inventore vero nihil, praesentium est
    et soluta dolor sed.</p>
  <p class="display-6 fs-5 my-2">Odio in dolorum animi officia, reiciendis iure tempora consequatur illum consectetur
    minus
    adipisci fugit voluptatum recusandae atque temporibus voluptates, veniam quia? Inventore vero nihil, praesentium est
    et soluta dolor sed.</p>
  <p class="display-6 fs-5 my-2">Odio in dolorum animi officia, reiciendis iure tempora consequatur illum consectetur
    minus
    adipisci fugit voluptatum recusandae atque temporibus voluptates, veniam quia? Inventore vero nihil, praesentium est
    et soluta dolor sed.</p>
</div>
